body {
	font-size: 16px;
	color: #fff;
	background-color: #BFD8D2;
	font-family: sans-serif;
}

/** Header peach-#FEDCD2  powder blue-#BFD8D2  warm oranage/red-#DF744A     lemon-#DCB239**/
#header-nav {
	background-color: #FEDCD2;
	border-radius: 0;
	border: 0;
}

.navbar-brand {
	padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
	font-family: 'Lora', serif;
	color: #DF744A;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}
#nav-list {
	margin-top: 10px;
}
#nav-list a {
	color: #951C49;
	text-align: center;
}
#nav-list a:hover {
	background: #E7E7E7;
}
#nav-list a span {
	font-size: 1.8em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid #61122f;
}

.navbar-header button.navbar-toggle {
	clear: both;
	margin-top: -30px;
}
/* END HEADER */


/* Home Page */
#menu-title {
	padding-bottom: 30px;
	text-align: center;
	color: #DF744A;
}
#chicken-title {
	padding-bottom: 10px;
	text-align: center;
}
.container .jumbotron {
	box-shadow: 0 0 50px #DCB239;
	border: 2px solid #DCB239;
	background-color: #DCB239;
	padding-top: 0;
	color: #000;
}
/* End Home Page */

/** LARGE DEVICES ONLY **/
@media (min-width: 1200px) {

}

/** MEDIUM DEVICES ONLY **/
@media (min-width: 992px) and (max-width: 1199px) {
	.contianer .jumbotron {
		overflow: scroll;
	}
}

/** SMALL DEVICES ONLY **/
@media (min-width: 768px) and (max-width: 991px) {

}

/** EXTRA SMALL DEVICES ONLY **/
@media (max-width: 767px) {
	/* HEADER */
	.navbar-brand {
		padding-top: 10px;
		height: 80px
	}
	.navbar-brand h1 { /* Resturant name */
		padding-top: 10px
		font-size: 5vw;
	}
	#collapsable-nav a { /* Collapsed nav menu text */
		font-size: 1.2em;
	}
	#collapsable-nav a span { /* Collapsed nav menu glyph */
		font-size: 1em;
		margin-right: 5px;
	}
	#call-btn > a {
		font-size: 1.5em;
		display: block;
		margin: 0 20px;
		padding: 10px;
		border: 2px solid #fff;
		background-color: #f6b319;
		color: #951C49;
	}
	#xs-deliver {
		margin-top: 5px;
		font-size: .7em;
		letter-spacing: .1em;
		text-transform: uppercase;
	}
	/* End Header */

	/* Home Page */
	.container .jumbotron {
		margin-top: 30px;
		padding: 0;
	}
}

/** Super Extra Small Devices Only (i.e., iPhone 4) **/
@media (max-width: 479px) {
	/* Header */
	.navbar-brand h1 { /* Restaurant name */
		padding-top: 5px;
		font-size: 6vw;
	}

	/* Home Page */
	/*.col-xxs-12 {
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		float: left;
		width: 100%;
	}*/
}